.maketforfigma{
    flex: 0 0 auto;
    background: #313a46;
    font-weight: bold;
    display: flex;
}
.maketforfigma img{
    border-radius: 10px;
    margin: 4px 0 0 4px;
}
.maketforfigma p {
    color: #98a6ad;
    text-decoration: none;
    letter-spacing: .01875rem;
    font-size: .775rem;
    padding: 0 10px;
    line-height: 0.70rem;
}
.maketforfigma p > a {
    color: #bbe4f0;
    font-weight: bold;
}
.maketforfigma p > a:hover {
    color: #ffffff
}
.main{
    flex: 1 0 auto;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 100%;
    font-family: 'Ruberoid';
    font-family: 'Proxima Nova';
    padding: 0;
    margin: 0;
}


/* Header */
.header {
    position: absolute;
    display: flex;
    height: 94px;

}
.header_fixed {
	position: fixed;
	left: 0;
	top: 0;
    height: 114px;
    background: #D9FADD;
    border-radius: 0px 0px 70px 70px;
    z-index: 10;
}
.header .container {
    position: relative;
    display: flex;
    place-items: center;
    width: 1350px;
    height: 75px;
    margin: 18px 46px 0;
}
.header .navbar {
    display: flex;
    place-items: center;
    gap: 40px;
    width: 646px;
    height: 18px;
    margin: 30px 142px 29px 156px;
}
.header .link {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05px;
    text-transform: lowercase;
    color: #495E4C;
}
.header .link:hover {
    color: #54E165;

}
.header .link:active {
    color: #5CCD6A;
}

.header .button-bckg {
    width: 210px;
    height: 75px;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 20px;
    padding: 10px;
}
.header button {
    width: 190px;
    height: 55px;
    background: #9CD3A3;
    box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
    border-radius: 17px;
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0.7px;
    outline: none;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header button:hover {
    background: #54E165;
}
.header button:active {
    background: #5CCD6A;
    transform: scale(.97);
}

/* Intro */
.intro {
    display: flex;
    height: 820px;
    background-image: url('../img/intro-bckg.png');
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.intro .container {
    display: flex;
    flex-direction: column;
    height: 589px;
    margin: 160px 784px 66px 135px;
}
.intro .title {
    height: 227px;
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    color: #495E4C;
    margin-bottom: 29px;
}
.intro .title #line {
    padding: 37px 0 35.5px;
    margin-right: 28px;
    margin-bottom: 5px;
}
.intro .title #green-text {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #78C081;
}
.works {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #7CA381;
    margin-bottom: 51px;
}
.dots {
    margin-top: 10px;
}
.intro .text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #7CA381;
}
.intro .contacts {
    display: flex;
    place-items: center;
    gap: 69px;
    width: 462px;
    height: 48px;
    margin: 0 40px 78px 18px;
}
.intro .location {
    display: flex;
    gap: 24px;
    width: 206px;
}
.intro .location-mark {
    width: 24px;
    height: 32px;
    margin-top: 8px;
}
.intro .address,
.intro .phone-nunmbers {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7B897D;
}
.intro .phones {
    display: flex;
    gap: 22px;
    width: 183px;
}
.intro .phone-icon {
    width: 32px;
    height: 32px;
    margin-top: 8px;
}
.intro .button-bckg {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 477px;
    height: 115px;
    background: rgba(120, 192, 129, 0.25);
    border-radius: 40px;        
}
.intro button {
    position: relative;
    width: 447px;
    height: 85px;
    background: #9CD3A3;
    box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
    border-radius: 30px;
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 15px;
    outline: none;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.intro button:hover {
    background: #54E165;
}
.intro button:active {
    background: #5CCD6A;
    transform: scale(.97);
}

/* Services */
.services {
    display: flex;
    background: #fff;
}
.services .container {
    display: flex;
    place-items: center;
    gap: 100px;
    width: 1305px;
    height: 655px;
    margin: 0 0 100.5px 135px;
}
.services .description {
    display: flex;
    flex-direction: column;
    width: 444px;
    height: 516px;
    margin: 48px 0 70px;
}
.services .title {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 70px;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    color: #495E4C;
    margin-bottom: 16px;
}
.services .title img {
    padding: 35.5px 0 35.5px;
    margin-top: 3.5px;
    margin-left: 22px;
}
.paragraph {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
}
.tabs-wrapper {
    display: flex;
    place-items: center;
    width: 741px;
    height: 655px;
    margin: 0 auto;
}
.tabs {
    position: relative;
    display: flex;
    width: 751px;
    height: 655px;
    margin-top: -13px;
}
.tabs::before,
.tabs::after {
    content: "";
    display: table;
}
.tabs::after {
    clear: both;
}
.tab {
    float: left;
    display: flex;
    place-items: center;
    width: 751px;
    height: 655px;
}
.tab-switch {
    display: none;
}
.tab-label {
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 65px;
    height: 233px;
    background: #FFFFFF;
    border-radius: 0px 0px 0px 40px;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7CA281;

    z-index: 5;
    cursor: pointer;
    padding: 0 24px 25px;
    margin-top: 7px;
    margin-left: 10px;
    transition: all .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tab-label:hover {
    color: #54E165;
    transition: all .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tab-label:hover #cond-icon {
    background-image: url('../img/label-cond-icon-green-hover.svg');
    background-repeat: no-repeat;
}
.tab-label:hover #vent-icon {
    background-image: url('../img/label-vent-icon-white.svg');
    background-repeat: no-repeat;
    background-color: #54E165;
}
.tab-content {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    display: flex;
    place-items: center;
    width: 751px;
    height: 655px;
    margin: 0;
    padding: 0;
    transition: all .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#tab-content1 {
    width: 751px;
    height: 655px;
    background-image: url('../img/content-vent-bckg.png');
    background-repeat: no-repeat;
}
#tab-content2 {
    width: 751px;
    height: 655px;
    background-image: url('../img/content-cond-bckg.png');
    background-repeat: no-repeat;
}
#tab-label-1 {
    position: absolute;
    top: 94.5px;
    left: 0;
    border-radius: 40px 0px 0px 0px;
}
#tab-label-1 span {
    position: absolute;
    right: -55px;
    top: 110px;
    width: 177px;
    height: 17px;
    transform: rotate(-90deg);
}
#vent-icon {
    background-image: url('../img/label-vent-icon-green.svg');
    background-repeat: no-repeat;
    width: 32px;
    border-radius: 16px;
    margin: 25px 16px 15px;
}
#tab-label-2 {
    position: absolute;
    top: 327.5px;
}
#tab-label-2 span {
    position: absolute;
    right: -55px;
    top: 110px;
    width: 177px;
    height: 17px;
    transform: rotate(-90deg);
}
#cond-icon {
    background-image: url('../img/label-cond-icon-green.svg');
    background-repeat: no-repeat;
    width: 32px;
    margin: 25px 16px 23px;
}
.tab-switch:checked + .tab-label {
    background: #5CCD6A;
    box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.tab-switch:checked + #tab-label-1 #vent-icon {
    background-image: url('../img/label-vent-icon-white.svg');
    background-repeat: no-repeat;
}
.tab-switch:checked + #tab-label-2 #cond-icon {
    background-image: url('../img/label-cond-icon-white.svg');
    background-repeat: no-repeat;
}
.tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tabs .items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 356px;
    height: 428px;
    margin: 132px 280px 113px 115px;
}
.tabs .item {
    display: flex;
    place-items: top;
    gap: 15px;
}
.tabs .icon {
    width: 34px;
    height: 34px;
}
.tabs .text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #495D4C;
}

/* Pirces */
.prices {
    display: flex;
    height: 552px;
    background-image: url('../img/turnkey-bckg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 47px;
}
.prices .container {
    display: flex;
    flex-direction: column;
    margin: -7px 135px 42px;
}
.prices .title {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    color: #495E4C;
    margin-bottom: 87px;
}
.prices .title #line {
    width: 236px;
    padding: 28.5px 0 28.5px;
    margin-top: 5px;
    margin-left: 18px;
}
.prices .cards {
    display: grid;
    grid-template-columns: repeat(4, 257px);
    grid-template-rows: repeat(2, 135px);
    column-gap: 47px;
    row-gap: 35px;
    width: 1170px;
    height: 305px;
}
.prices .card {
    display: flex;
    flex-direction: column;
    width: 257px;
    height: 135px;
    filter: drop-shadow(0px 0px 10px rgba(73, 93, 76, 0.1));
}
.prices .card .info {
    display: flex;
    place-items: center;
    width: 257px;
    min-height: 43px;
    background: #FFFFFF;
    border-radius: 0px 0px 25px 25px;
}
.prices .card .price {
    position: absolute;
    top: 14px;
    left: 0px;
    width: 119px;
    height: 28px;
    background: #D9FADD;
    border-radius: 0px 10px 10px 0px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #495D4C;
    padding: 6.5px 13px 6.5px 16px;
}
.prices .card .photo {
    width: 257px;
    height: 92px;
}
.prices .card .name {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #78C081;
    margin: 12px auto 13px 15px;
}

/* Stages */
.stages {
    position: relative;
    display: flex;
    height: 389px;
    margin-bottom: 110px;
}
.stages-bckg-image {
    position: absolute;
    top: 226px;
}
.stages .container {
    display: flex;
    flex-direction: column;
    width: 1170px;
    height: 393px;
    margin: 0 137px 110px;
}
.stages .block-top {
    display: flex;
    gap: 91px;
    height: 151px;
    margin-bottom: 94px;
}
.stages .title {
    width: 516px;
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 70px;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    color: #495E4C;
    margin-bottom: 88px;
}
.stages .title #line {
    width: 100px;
    padding: 28.5px 0 28.5px;
    margin-top: 11px;
    margin-left: 23px;
}
.stages .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 563px;
    height: 148px;
    margin-top: 8px;
}
.stages .heading {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    text-transform: capitalize;
    color: #78C081;
    margin-bottom: 14px;
}
.stages .items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 104px;
}
.stages .item {
    display: flex;
    place-items: center;
    gap: 10px;
}
.stages .item .icon {
    width: 17px;
    height: 17px;
}
.stages .text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7CA381;
}
.stages .steps {
    display: flex;
    justify-content: space-between;
    width: 948px;
    height: 154px;
    margin: 0 106px 0;
}
.stages .step {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 20px;
}
.stages .step2 {
    margin: 0 281px 0 268px;
}
.stages .step .icon {
    width: 100px;
    height: 100px;
}
.stages .name {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #495E4C;
}

/* Subscribe */
.subscribe {
    display: flex;
    height: 248px;
    background-image: url('../img/subscribe-bckg.png');
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.subscribe .container {
    display: flex;
    flex-direction: column;
    width: 899px;
    height: 144px;
    margin: 49px 406px 49px 135px;
}
.subscribe .title {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: -1.25px;
    text-transform: capitalize;
    color: #495E4C;
    margin-bottom: 38px;
}
.subscribe form {
    display: flex;
    place-items: top;
    gap: 30px;
    width: 899px;
    height: 57px;
}
.subscribe .input-forms {
    display: flex;
    gap: 30px;
    width: 610px;
    height: 57px;
    margin-right: 41px;
}
.subscribe input {
    width: 290px;
    height: 57px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(73, 93, 76, 0.15);
    border-radius: 15px;
    padding: 20px;
    outline: none;
    border: none;
}
.subscribe input::placeholder {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(124, 163, 129, 0.7);
}
.subscribe .error {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ff5858;
    margin-top: 8px;
    margin-left: 10px;
}

.subscribe .button-bckg {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 229px;
    height: 75px;
    background: rgb(120, 192, 129, .25);
    border-radius: 20px;
}
.subscribe button {
    position: relative;
    width: 209px;
    height: 55px;
    background: #9CD3A3;
    box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
    border-radius: 17px;
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.subscribe button:active {
    background: #5CCD6A;
    transform: scale(.97);
}

/* Double-block */
.double-block {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 1423px;
}
.about-request-bckg-image {
    position: absolute;
    top: -200px;
    z-index: -5;
}
/* About */
.about {
    margin-bottom: 95px;
}
.about .container {
    display: flex;
    gap: 89px;
    width: 1158px;
    height: 580px;
    margin: 0 147px 0px 135px;
}
.about .description {
    display: flex;
    width: 531px;
    height: 580px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(73, 93, 76, 0.1);
    border-radius: 50px;
}
.about .description .wrapper {
    display: flex;
    flex-direction: column;
    width: 442px;
    height: 521px;
    margin: 27px 47px;
}
.about .title {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 65.8px;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    color: #495E4C;
    margin-bottom: 26px;
}
.about .title #logo {
    padding: 15px 0 15px;
    margin-top: 3.5px;
    margin-left: 5px;
}
.about .paragraph {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
}
.about .paragraph span {
    font-weight: 600;
}
.about .info {
    display: flex;
    flex-wrap: wrap;
    width: 678px;
    height: 580px;
}
.about .items {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    grid-template-rows: repeat(2, 114px);
    column-gap: 63px;
    row-gap: 93px;
    width: 531px;
    height: 315px;
    margin: 120px 147px 136px 0px;
}
.about .item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 18px;
}
.about .heading {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32.54px;
    color: #78C081;
}
.about .heading span {
    font-size: 35px;
    line-height: 47.46px;
}
.about .item .text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7CA381;
}

/* Request */
.request {
    display: flex;
    height: 802px;
    margin-bottom: 100px;
}
.request .container {
    display: flex;
    place-items: center;
    gap: 87px;
    width: 1170px;
    height: 802px;
    margin: 0 135px 0;
}

.request .description {
    display: flex;
    flex-direction: column;
    width: 498px;
    height: 690px;
    margin: 56px 0;
}
.request .title {
    width: 499px;
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    color: #495E4C;
    margin-bottom: 33px;
}
.request .icons-group {
    display: flex;
    place-items: center;
    gap: 15px;
    width: 495px;
    height: 40px;
    margin-bottom: 33px;
}
.request .icon {
    width: 70px;
    height: 40px;
}
.request .items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 176px;
    margin-bottom: 25px;
}
.request .item {
    display: flex;
    gap: 11px;
}
.request .item .icon {
    width: 15px;
    height: 15px;
    margin-top: 4px;
}
.request .item .text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7CA381;
}
.request .important-text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    margin-bottom: 64px;
}
.request .important-text span {
    font-weight: 600;
}
.request .button-bckg {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 477px;
    height: 115px;
    background: rgba(120, 192, 129, 0.25);
    border-radius: 40px;
}
.request button {
    position: relative;
    width: 447px;
    height: 85px;
    background: #9CD3A3;
    box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
    border-radius: 30px;
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 15px;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.request button:hover {
    background: #54E165;
}
.request button:active {
    background: #5CCD6A;
    transform: scale(.97);
}

.request .photos {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    width: 575px;
    height: 802px;
}
.request .photo-block1 {
    display: flex;
    flex-direction: column;
    height: 802px;
    margin-top: -6px;
    margin-bottom: 20px;
}
.request .photo-block2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 674px;
    margin: 64px 0;
}

/* Workflow */
.workflow {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1170px;
    height: 1328px;
    margin: 0 135px 100px;
}
.workflow-bckg-image {
    position: absolute;
    top: 79px;
    left: 64px;
    z-index: -5;
}
.workflow .title {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: -0.25px;
    text-transform: capitalize;
    color: #495E4C;
    margin-bottom: 99px;
}
.workflow .heading {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 47px;
    text-transform: capitalize;
    color: #78C081;
}
.workflow .text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #495E4C;
}
.workflow .item1 {
    width: 446px;
    margin: 0 859px 12px 0;
}
.workflow .item1 .heading {
    margin-bottom: 19px;
}

.workflow .item2 {
    text-align: right;
    width: 540px;
    margin: 0 0 87px 630px;
}
.workflow .item2 .heading {
    margin-bottom: 20px;
}

.workflow .item3 {
    width: 496px;
    margin: 0 859px 24px 0;
}
.workflow .item3 .heading {
    margin-bottom: 19px;
}

.workflow .item4 {
    text-align: right;
    width: 625px;
    margin: 0 0 25px 545px;
}
.workflow .item4 .heading {
    margin-bottom: 20px;
}

.workflow .item5 {
    width: 449px;
    margin: 0 859px 81px 0;
}
.workflow .item5 .heading {
    margin-bottom: 19px;
}

.workflow .item6 {
    text-align: right;
    width: 397px;
    margin: 0 0 142px 773px;
}
.workflow .item6 .heading {
    margin-bottom: 19px;
}

.workflow .item7 {
    width: 722px;
    margin: 0 224px 0;
}

/* Portfolio */
.portfolio {
    position: relative;
    margin-bottom: 99px;
}
.portfolio-bckg-image {
    position: absolute;
    top: -150px;
    left: -30px;
    z-index: -5;
}
.portfolio .title-block {
    display: flex;
    place-items: center;
    gap: 136px;
    width: 1170px;
    height: 120px;
    margin: 0 135px 46px;
}
.portfolio .title {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: -0.35px;
    text-transform: capitalize;
    color: #495E4C;
}
.portfolio .text {
    width: 641px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    margin-top: 7px;
}

.portfolio .gallery {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 1400px;
    height: 527px;
    margin-left: 135px;
}
.portfolio .icons {
    display: flex;
    place-items: center;
    gap: 25px;
}
.portfolio .icon-prev {
    width: 46px;
    height: 46px;
    background-image: url('../img/portfolio-slider-prev.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}
.portfolio .icon-next {
    width: 46px;
    height: 46px;
    background-image: url('../img/portfolio-slider-next_active.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}
.portfolio .icon-prev:hover {
    background-image: url('../img/portfolio-slider-prev_active.svg');
    background-repeat: no-repeat;
}

.portfolio .slider {
    display: flex;
    width: 1305px;
    height: 456px;
    overflow: hidden;
}
.portfolio .slider-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 1400px;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.portfolio .slider label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.portfolio .slider input[type="radio"] {
    display: none;
}
.portfolio .slider h3 {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-transform: capitalize;
    text-align: left;
    color: #FFFFFF;
    margin: 348px 80px 0px 40px;
}
.portfolio .slider p {
    list-style: none;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 40px;
}
.portfolio .slider .comments {
    display: none;
    width: 0;
}
.portfolio .slider input:checked ~ .comments {
    display: block;
    width: 500px;
}
.portfolio .slider .preview {
    position: relative;
    flex: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 35px;
}
.portfolio .slider .preview1 {
    background-image: url('../img/slider-photo-1.jpeg');
}
.portfolio .slider .preview2 {
    background-image: url('../img/slider-photo-2.jpeg');
}
.portfolio .slider .preview3 {
    background-image: url('../img/slider-photo-3.jpeg');
}
.portfolio .slider .preview4 {
    background-image: url('../img/slider-photo-4.jpeg');
}
.portfolio .slider .slider-preview-logo {
    position: absolute;
    top: 35px;
    left: 0;
    width: 164px;
    height: 49px;
    cursor: pointer;
}

/* Clients */
.clients {
    display: flex;
    height: 515px;
    background-image: url('../img/clients-bckg.png');
    background-repeat: no-repeat;
    overflow: hidden;
}
.clients .container {
    display: flex;
    gap: 66px;
    height: 270px;
    margin: 147px 0 100px 135px;
}
.clients .info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 627px;
    height: 259px;
}
.clients .title {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 70px;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    color: #495E4C;
}
.clients .title #line {
    width: 105px;
    padding: 28.5px 0 28.5px;
    margin-top: 10px;
    margin-left: 35px;
}
.clients .text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
}

.clients .slider {
    display: flex;
    flex-direction: column;
    width: 814px;
    height: 116px;
    margin: 100px 0 100px 0;
}
.clients .slider-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 814px;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.clients .slider label {
    width: 258px;
    height: 116px;
    background: #FEFFFE;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 10px rgba(73, 93, 76, 0.1));
}
.clients .slider input[type="radio"] {
    display: none;
}
.clients .slider .client {
    padding: 38px 35px;
}
.clients .slider .client3 {
    padding: 26.5px 54px;
}

.clients .icons {
    display: flex;
    place-items: center;
    gap: 25px;
    width: 96px;
    height: 38px;
    margin: 20px 0px 95px 380px;
}
.clients .icon-prev {
    width: 38px;
    height: 38px;
    background-image: url('../img/clients-icon-prev_disabled.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}
.clients .icon-next {
    width: 38px;
    height: 38px;
    background-image: url('../img/clients-icon-next.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

/* Footer */
.footer {
    background-image: url('../img/footer-bckg.png');
    background-repeat: no-repeat;
    height: 528px;
}
footer .container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 348px;
    padding-top: 86px;
    margin: 0 135px 94px;
}

footer .info {
    display: flex;
    flex-direction: column;
    width: 406px;
    height: 348px;
}
footer .logo {
    width: 352px;
    height: 109px;
    margin-bottom: 30px;
}
footer .text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #7CA381;
    margin-bottom: 28px;
}
footer .text span {
    font-weight: 600;
}
footer .line {
    width: 406px;
    height: 1px;
    left: 135px;
    background: #78C081;
    border-radius: 1.5px;
    margin-bottom: 31px;
}
footer .add-phrase {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #495D4C;
}
footer .add-phrase span {
    color: #78C081;
    font-size: 22px;
    line-height: 30px;
}

footer .contacts {
    display: flex;
    flex-direction: column;
    width: 223px;
    height: 324px;
    margin: 20px 133px 0 120px;
    margin-top: 19px;
}
footer .heading {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    color: #495E4C;
    margin-bottom: 29px;
}
footer .contacts .phones,
footer .contacts .location {
    display: flex;
    flex-direction: column;
}
footer .contacts .location {
    gap: 15px;
}
footer .contacts .phones {
    height: 141px;
    margin-bottom: 28px;
}
footer .contact {
    display: flex;
    place-items: center;
    gap: 15px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7B897D;
    margin-bottom: 13px;
}
footer .phone-humber2 {
    margin-top: -1px;
    margin-bottom: 1px;
}
footer .divider-line {
    margin-bottom: 17px;
}
footer .contacts .phone-icon {
    width: 22px;
    height: 22px;
    margin-top: 2px;
}
footer .contacts .email {
    display: flex;
    place-items: center;
    gap: 13px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7B897D;
    margin-top: -1.5px;
    margin-bottom: 7.5px;
}
footer .contacts .envelope-icon {
    width: 24px;
    height: 18px;
    margin-top: -9px;
}

footer .contacts .schedule,
footer .contacts .address {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7B897D;
}
footer .contacts .address {
    gap: 13px;
}
footer .contacts .calendar-icon {
    width: 22px;
    height: 22px;
    margin-top: -2.3px;
}
footer .contacts .location-mark {
    width: 24px;
    height: 31px;
    margin-top: 4.5px;
}

.apply {
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 288px;
    margin-top: 18px;
}
footer .apply .heading {
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    color: #495E4C;
    margin-bottom: 27px;
}
footer fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 118px;
    margin-bottom: 47px;
}
footer .apply .input {
    width: 290px;
    height: 49px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(73, 93, 76, 0.1);
    border-radius: 15px;
    outline: none;
    padding: 16px 158px 16px 19px;
}
footer .apply .input::placeholder {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7CA381;
}
footer .apply .button-bckg {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 229px;
    height: 75px;
    background: rgb(120, 192, 129, .25);
    border-radius: 20px;
}
footer .apply button {
    position: relative;
    width: 209px;
    height: 55px;
    background: #9CD3A3;
    box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
    border-radius: 17px;
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 10px;
    outline: none;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
footer .apply button:hover {
    background: #54E165;
}
footer .apply button:active {
    background: #5CCD6A;
    transform: scale(.97);
}

/* Popup - "Связаться" */
.popup {
    width: 1440px;
    height: 100%;
    top: 0;
    align-items: center;
    position: fixed;
    display: flex;
    background: rgba(217, 250, 221, 0.55);
    backdrop-filter: blur(10px);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity 0.3s linear;
}
.popup_opened {
    visibility: visible;
    opacity: 1;
}
.popup__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 463px;
    background: #D9FADD;
    box-shadow: 0px 0px 10px rgba(73, 93, 76, 0.1);
    border-radius: 50px;
    margin: 178.5px 497.5px;
}
.popup .popup__title {
    width: 319px;
    height: 110px;
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -0.3px;
    text-align: left;
    text-transform: capitalize;
    color: #495E4C;
    margin: 35px 91px 20px 35px;
}
.popup .popup__title img {
    width: 136px;
    padding: 28.5px 0 28.5px;
    margin-top: 5px;
    margin-left: 12px;
}
.popup__close-button {
    position: absolute;
    top: -72px;
    right: 8px;
    width: 53px;
    height: 49px;
    background: #9CD3A3;
    box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
    border-radius: 15px;
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 10px;
    outline: none;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.popup__close-button:hover {
    cursor: pointer;
    background: #54E165;
}
.popup__close-button:active {
    transform: scale(.9);
    background: #5CCD6A;
}
.popup__close-button .popup__close-button-bckg {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 73px;
    height: 69px;
    background: #78C081;
    opacity: 0.25;
    border-radius: 18px;
}

.popup .info {
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 298px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(73, 93, 76, 0.1);
    border-radius: 35px 35px 50px 50px;
}
.info__container {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 220px;
    margin: 35px 35px 43px 35px;
}
.info__text {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #7CA381;
    margin-bottom: 20px;
}
.info__heading {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #7CA381;
    margin-bottom: 17px;
}
.info__schedule {
    display: flex;
    place-items: center;
    gap: 15px;
    margin-bottom: 43px;
}
.info__schedule-clock {
    width: 22px;
    height: 22px;
}
.info__business-hours {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #7CA381;
}
.info__phones {
    display: flex;
    place-items: center;
    width: 375px;
    height: 24px;
}
.info__phone {
    display: flex;
    place-items: center;
    gap: 15px;
}
.info__phone-icon {
    width: 22px;
    height: 22px;
}
.info__phone-number {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #7B897D;
}
.info__divider-line {
    width: 1px;
    height: 39px;
    left: 717px;
    background: #BEE1C2;
    border-radius: 0.5px;
    margin: 0 21px;
}

/* Popup - "Оставить/Заполнить заявку" */
.popup-apply {
    width: 1440px;
    height: 100%;
    top: 0;
    align-items: center;
    position: fixed;
    display: flex;
    background: rgba(217, 250, 221, 0.55);
    backdrop-filter: blur(10px);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity 0.3s linear;
}
.popup_opened {
    visibility: visible;
    opacity: 1;
}
.popup-apply__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 412px;
    height: 561px;
    background: #D9FADD;
    box-shadow: 0px 0px 10px rgba(73, 93, 76, 0.1);
    border-radius: 50px;
    margin: 129.5px 514px;
}
.popup-apply__title {
    width: 304px;
    height: 110px;
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -0.3px;
    text-align: left;
    text-transform: capitalize;
    color: #495E4C;
    margin: 35px 73px 20px 35px;
}
.popup-apply__title img {
    width: 126px;
    padding: 28.5px 0 28.5px;
    margin-top: 5px;
    margin-left: 7px;
}
.popup-apply__close-button {
    position: absolute;
    top: -72px;
    right: 8px;
    width: 53px;
    height: 49px;
    background: #9CD3A3;
    box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
    border-radius: 15px;
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.popup-apply__close-button:hover {
    cursor: pointer;
    background: #54E165;
}
.popup-apply__close-button:active {
    transform: scale(.9);
    background: #5CCD6A;
}
.popup-apply__close-button-bckg {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 73px;
    height: 69px;
    background: #78C081;
    opacity: 0.25;
    border-radius: 18px;
}
.popup-apply__close-button img {
    width: 25px;
    height: 25px;
}

.popup-apply .info {
    display: flex;
    flex-direction: column;
    width: 412px;
    height: 298px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(73, 93, 76, 0.1);
    border-radius: 35px 35px 50px 50px;
}
.popup-apply .info__container {
    display: flex;
    flex-direction: column;
    width: 342px;
    height: 228px;
    margin: 35px;
}
.popup-apply .info fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 342px;
    height: 118px;
    margin-bottom: 45px;
}
.popup-apply .info .input {
    width: 342px;
    height: 49px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(66, 83, 69, 0.14);
    border-radius: 15px;
    padding: 16px 20px;
    outline: none;
}
.popup-apply .info .input::placeholder {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7CA381;
}
.popup-apply .info .button-bckg {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 342px;
    height: 75px;
    background: #78C081;
    opacity: 0.25;
    border-radius: 20px;
    padding: 10px;
}
.popup-apply .info button {
    position: relative;
    width: 322px;
    height: 55px;
    background: #9CD3A3;
    box-shadow: inset 2px -2px 12px rgba(34, 111, 33, 0.36);
    border-radius: 17px;
    font-family: 'Ruberoid';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 10px;
    outline: none;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.popup-apply .info button:hover {
    background: #54E165;
}
.popup-apply .info button:active {
    background: #5CCD6A;
    transform: scale(.97);
}
.popup-apply .info__logo {
    width: 228px;
    height: 68px;
    margin: 15px 92px;
}